.DS_Store
.git
.vscode
*.exe
app/
chart/
secrets/
kindest.yaml
cmd/cmd
/transcriber/cmd/transcriber
/imgsearch/cmd/imgsearch
/scripts/
test.wav
fdk-aac-*
Dockerfile
.dockerignore
out.json
example.png
